article[about="/about"]{
  .content {
    .block-field-blocknodeabouttitle {
      text-align: center;
      margin: 70px auto;

      span {
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
      }

      span::after {
        content: " ";
        position: absolute;
        height: 4px;
        width: 55px;
        background-color: #b7b7b7;
        right: 16px;
        top: 35px;
      }
    }

    .block-field-blocknodeaboutbody{
      .field--type-text-with-summary{
        font-size: 19px;
        text-indent: 1.5em;
        text-align: justify;
      }
    }

  }
}
