@media (max-width: 1235px) {

}

@media (max-width: $desktopLarge) {
    .navbar-collapse{
        .region-navigation-collapsible{
          .block-search-form-block{
            width: 160px;
          }

          .navbar-nav{
            li a{
              margin: 5px;
            }
            .first{
              bottom: 9px;
            }
          }
          section .field--type-fontawesome-icon .field--item .fontawesome-icons .fontawesome-icon{
            margin-right: 3px;
          }
      }
    }
}



@media (max-width: $desktop) {

    .navbar-wrapper {
      height: 100px;

      .navbar-header {
        width: 170px;
        height: 100%;
        .region-navigation {
          width: 170px;
          .navbar-brand {
            width: 120px;
            font-size: 27px;
            padding-right: 0;
            padding-left: 0;
          }
        }
        p.navbar-text {
          font-size: 11px;
        }
      }

      .navbar-collapse .region-navigation-collapsible{
        .block-search-form-block {
          width: 145px;
          margin-left: 4px;
          .btn-primary {
            height: 34px;
          }
        }
        section .field--type-fontawesome-icon .field--item .fontawesome-icons .fontawesome-icon {
          height: 16px;
          width: 16px;
          margin-right: 2px;
        }
        .navbar-nav li a {
          margin: 3px;
        }
        .navbar-nav li a:hover::after {
          margin-top: 34px;
        }
      }
    }

    .main-container .row .col-sm-9 .views-element-container .view-about-block .views-row {
      .views-field-title {
        font-size: 21px;
      }
      .views-field-body {
        font-size: 16px;
        padding: 2px;
      }
      .views-field-view-node span a {
        padding: 7px;
        font-size: 11px;
      }
    }
    .main-container .row .col-sm-9 .content .block-views {

      .view-services-block .view-content .views-view-grid .views-row .views-col {
        max-width: 190px;
      }

      .view-projects-block .view-content .views-row{
        max-width: 190px;
        .views-field-title a{
          display: block;
          height: 63px;
        }
      }
    }


  }

@media (max-width: $table) {

  .navbar-wrapper {
    height: 100%;
    flex-direction: column;
    .navbar-header {
      width: 100%;
      height: 90px;
    }
    .navbar-collapse .region-navigation-collapsible {
      background-color: #fff;
      flex-direction: column;
      margin: 20px 10px;

      .navbar-nav {
        font-size: 14px;
        text-align: center;

        li a {
          margin: 0;
          padding: 5px;
        }

        li a:hover::after {
          margin-top: 0;
          display: none;
        }

        .first {
          background-image: none;
          width: auto;
          height: auto;
          position: static;
          margin-right: 0;

          a {
            opacity: 100%;
          }

          a:hover::after {
            display: none;
          }
        }
      }

      .block-search-form-block {
        width: 250px;
      }

      section .field--type-fontawesome-icon .field--item .fontawesome-icons {
        display: none;
      }
    }
  }


  #navbar-collapse {
    height: 332px;
    overflow: hidden;
    background-color: white;
    position: absolute;
    z-index: 2;
    top: 90px;
  }

  .navbar-toggle {
    position: relative;
    bottom: 71px;
  }

  .boy-next-door .header-text {
    width: 350px;
    height: 146px;
    position: absolute;
    bottom: 36%;
    left: 5%;
  }

  .main-container .row .col-sm-9 .views-element-container {
    .view-about-block {
      margin-top: 50px;

      .views-row {
        flex-direction: column;
        text-align: center;

        .views-field-body {
          font-size: 14px;
        }
      }
    }

    .view-about-block::after {
      top: 106px;
    }
  }
  .main-container .row .col-sm-9 .content .block-views {

    .view-services-block .view-content .views-view-grid .views-row {
      grid-template-columns: 1fr 1fr;
      justify-items: center;

      .views-col {
        margin-bottom: 10px;
      }
    }

    .view-projects-block .view-content {
      grid-template-columns: 1fr 1fr;

      .views-row {
        margin-bottom: 20px;
      }
    }

    .view-team-block .view-content {
      grid-template-columns: 1fr 1fr;
      justify-items: center;

      .views-row {
        max-width: 200px;
      }
    }
  }
}

@media (max-width: 875px) {
  .main-container .row .col-sm-9 .block.block-views.block-views-blocknews-block-1 .view-news .view-content {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
@media (max-width: 805px) {
  .navbar-collapse .region-navigation-collapsible .nav, .navbar-collapse .region-navigation-collapsible .navbar-nav {
    font-size: 10px;
  }
}

@media (max-width: 615px) {
    .article[about="/contact"] {
      .content {
        .block-field-blocknodepagetitle {
          .layout--twocol-section {
            flex-wrap: wrap;
          }
        }
      }
    }
}

  @media (max-width: $mobile) {

    .main-container .row .col-sm-9 .content .block-views {

      .view-services-block .view-content .views-view-grid .views-row {
        grid-template-columns: 1fr;
        .views-col {
          max-width: 200px;
        }
      }

      .view-projects-block .view-content {
        grid-template-columns: 1fr;
        .views-row {
          max-width: 200px;
        }
      }

      .view-team-block .view-content{
        grid-template-columns: 1fr;
        .views-row {
          max-width: 200px;
        }
      }
    }
    .main-container .row .col-sm-9 .block.block-views.block-views-blocknews-block-1 .view-news .view-content .views-row {

      grid-template-columns: 28px 68px 76px auto 72px;
      grid-template-rows: 76px auto auto 33px;

      .views-field-view-node {
        text-align: end;

        span {
          padding: 5px;

          a {
            font-size: 10px;
          }
        }
      }

      .views-field-field-news-data {
        .month {
          font-size: 14px;
        }

        .day {
          font-size: 28px;
        }

        .year {
          font-size: 10px;
        }
      }

      .views-field-field-image {
        width: 70px;
        height: 70px;
      }

      .views-field-title {
        font-size: 16px;
      }

      .views-field-body {
        font-size: 9px;
      }


    }

  }
