$gutter: 30px;
$gutterM: 20px;
$gutterS: 10px;
$black : #373737;
$white : #fff;

$mobile: 480px;
$table: 767px;
$desktop: 960px;
$desktopLarge: 1160px;
$desktopExtraLarge: 1440px;

$web-development-color: #33c3a5;
$php-development-color: #d6574a;
$app-development-color: #a163ba;
$drupal-color: #4db7e5;
                        
